
.calculatorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-top: 0;
 
}

h2{
    margin: 2px;
    
}

.display{
    border: 1px solid black;
    padding: 12px;
    border-radius: 5px;
}

.buttonContainer{

    min-width:180px ;
    margin: 3%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row ;

}
.displayinput{
    width: 80%;
    text-decoration: none;
    border: none;
    text-align: center;
    font-size: 14px;
}
.button:hover{
background-color: red;
}

.button{
background-color: aqua;
    cursor: pointer;
    font-weight: 800;
    display: flex;
    width: 45px;
 text-align: center;
 align-items: center;
 justify-content: center;
    gap: 1%;
    border: 1px solid black;
    height: 45px;
    margin: 1px;
    padding: 2%;
    border-radius: 5px;
}
.calculator{
    padding-top: 0px;
    text-align: center;
    width: 180px;
    display: flexbox;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 2px  solid black; 
    border-radius: 10px;
}